.card {
    background: #2cb5a0;
    width: 24rem;
    height: 28rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-1rem);
}

.user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 14rem;
    height: 14rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.user-picture svg {
    width: 8rem;
    fill: currentColor;
    position: relative;
}

.user-picture img {
    width: 14rem;
    height: 14rem;
    position: absolute;
    border: none;
    border-radius: 50% 50%;
    z-index: 1;
}


.name {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2.2rem;
}